body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFC0CB;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="number"], select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

button, .save-button{
    padding: 0.5rem 1rem;
    background-color: #9ACD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.result {
    margin-top: 20px;
    text-align: center;
}