body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFC0CB;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://www.nkch.org/sites/default/files/hg_features/hg_post/266431ee48ecd33198166e1f775e6eff.jpg');
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
}


main {
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 320px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #9ACD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: #82B12F;
}