body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://previews.123rf.com/images/latkun/latkun2103/latkun210300879/166065015-top-view-christmas-dinner-with-turkey-resolution-and-high-quality-beautiful-photo.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

main{
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.food-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}


.food-item{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}


.food-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;

}

a{
    color: white;
    text-decoration: none;

}


.edit-button{
    display: inline-block;
    padding: 8px 16px;
    background-color: #9ACD32;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;

}


.edit-button:hover {
    background-color: #82B12F;

}


.add-food-button{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #FFC0CB;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;

}


.delete-button{
    display: inline-block;
    padding: 8px 16px;
    background-color: #9ACD32;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;

}


.delete-button:hover {
    background-color: #82B12F;

}


.add-food-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #9ACD32;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    top: 125px;
    left: 20px;

}


.add-food-button:hover {
    background-color: #82B12F;

}


.search-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

}

header{
    position: relative;

}


.search-container{
    position: absolute;
    top: 100%;
    right: 0;
    padding-right: 0;
    margin-top: 0.5rem;

}

h1 {
    margin-right: auto;
    margin-left: 0;

}


.no-results{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

}

.food-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}