body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFC0CB;
}

header {
    background-color: #9ACD32;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1, header p {
    color: white;
}

header p {
    font-size: 1.2rem;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9ACD32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.button:hover {
    background-color: #82B12F;
}

