
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFC0CB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    background-color: #9ACD32;
    color: white;
    padding: 1rem 0;
    margin-bottom: 20px;
}

header h1, header h2 {
    color: white;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #9ACD32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px;
}

.register-link {
    color: #4CAF50;
    text-decoration: none;
}

.footer {
    margin-top: auto;
    padding: 10px 0;
}

footer p {
    color: white;
}

.button:hover {
    background-color: #82B12F;
}

.image-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
}

.image-container img {
    max-width: 80%;
    max-height: 90%;
    height: auto;
    object-fit: contain;
}