body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFC0CB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #9ACD32;
    color: white;
    padding: 1rem 0;
    margin-bottom: 20px;
}

header h1 {
    color: white;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-button {
    background-color: #9ACD32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #82B12F;
}
