<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add My Recipe</title>
    <link rel="stylesheet" href="/css/add-my-recipe.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<header>
    <a th:href="@{/home}" class="back-to-home-button">Back to Home</a>
    <h1>Add My Recipe</h1>
</header>
<main>
    <form id="recipeForm" th:action="@{'/my-recipes'}" th:method="POST" th:object="${createMyRecipeRequest}">
        <div class="form-group">
            <label for="recipeName">Recipe Name:</label>
            <input type="text" id="recipeName" th:field="*{name}" class="form-control" />
            <div class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <p class="alert-warning" th:text="${thisRecipeAlreadyExists}"></p>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" th:field="*{instructions}" class="form-control"></textarea>
            <div class="alert-warning" th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}"></div>
        </div>
        <div class="form-group">
            <label for="pictureUrl">Picture URL:</label>
            <input type="url" id="pictureUrl" th:field="*{picture}" class="form-control" />
            <div class="alert-warning" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"></div>
        </div>
        <div class="form-group">
            <label for="isPublic">Public:</label>
            <select id="isPublic" th:field="*{recipePublic}" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <button type="submit">Save</button>
    </form>
</main>
<footer>
    <p>&copy; 2025 Calorie Counter. All rights reserved.</p>
</footer>
</body>
</html>
