<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Counter App</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/meals}">Meals</a></li>
            <li><a href="/my-recipes">My Recipes</a></li>
            <li><a th:href="@{/foods}">Foods</a></li>
            <li><a th:href="@{'/users/' + ${user.id} + '/profile'}">Edit Profile</a></li>
            <li><a th:href="@{'/daily-statistics/history'}">Daily Statistics</a></li>
            <li><a th:href="@{'/activities'}">Activities</a></li>
            <li><a th:href="@{'/users'}" th:if="${user.userRole.name() =='ADMIN'}">Users</a></li>
            <li><a th:href="@{'/how-to-use'}">How To Use The App</a></li>
            <li><a th:href="@{'/tips'}">Tips</a></li>
            <li><a th:href="@{'/calories-in-foods'}">Calories In Foods</a></li>
        </ul>
    </nav>
    <h1>Calorie Counter</h1>
    <a th:href="@{/logout}" class="logout-button">Logout</a>
</header>

<main>
    <section th:object="${dailyStatistics}" id="daily-summary">
        <h2>Daily Summary</h2>
        <div id="calories-consumed">
            <p>Consumed Calories: <span id="consumed-value" th:text="${dailyStatistics.consumedCalories}"></span></p>
        </div>
        <div id="calories-burned-from-activity">
            <p>Burned Calories From Activity: <span id="burned-from-activity-value" th:text="${dailyStatistics.burnedCaloriesDuringActivity}"></span></p>
        </div>
        <div id="calories-burned=from-rest">
            <p>Burned Calories From Rest: <span id="burned-from-rest-value" th:text="${dailyStatistics.burnedCaloriesAtRest}"></span></p>
        </div>
        <div id="calories-goal">
            <p>Calorie Goal: <span id="goal-value" th:text="${dailyStatistics.calorieGoal}">0</span></p>
        </div>
        <div id="calories-remaining">
            <p>Remaining Calories: <span id="remaining-value" th:text="${dailyStatistics.remainingCalories}"></span></p>
        </div>
        </div>
        <div id="current-weight">
            <p>Current weight: <span id="weight-value" th:text="${user.weight}"></span></p>
        </div>
    </section>
    <a th:href="@{'/daily-statistics/' + ${dailyStatistics.id} + '/calorie-goal-and-calories-at-rest'}" class="calculate-button">Calculate Calorie Goal And Burned Calories At Rest</a>
    <a th:href="@{'/activities/new'}" class="enter-burned-button">Add Activity</a>
    <a th:href="@{'/daily-statistics/weight'}" class="add-weight-button">Add current weight</a>
</main>
<footer>
    <p>&copy; 2025 Calorie Counter. All rights reserved.</p>
</footer>

</body>
</html>

