<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Use the App</title>
    <link rel="stylesheet" href="/css/how-to-use-the-app.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header>
    <h1>How to Use the App</h1>
</header>

<a href="/home" class="back-to-home-button">Back to Home</a>

<div class="container">
    <h2>Getting Started</h2>
    <p>Welcome to our app! Here's a quick guide to help you get started:</p>

    <p class="required-steps"><strong>Required steps:</strong></p>

    <h3>1. Calculate Calorie Goal and Resting Burned Calories</h3>
    <p>Click the "Calculate Calorie Goal and Resting Burned Calories" button.
        Enter the required information and click "Calculate."
        The calorie goal is the daily calorie intake needed for a calorie deficit.
        Burned calories at rest indicate the number of calories your body expends while at rest, including during sleep.
        Recalculate if your weight changes.</p>

    <h3>2. Add Foods on the "Foods" page </h3>
    <p>Go to the "Foods" page to add your most used foods. Include the calorie information per 100 grams and add a picture if you'd like. These foods can then be used in your recipes and meals.</p>

    <h3>3. Add My Recipes on the "My Recipes" page </h3>
    <p>Go to the "My Recipes" page to add your favorite recipes. When creating a recipe, you can add ingredients from your food library. These recipes can then be added to your meals.</p>

    <h3>4. Add Foods And Recipes on the "Meals" page</h3>
    <p>On the Meals page, you can add foods and recipes with their quantities. The app will calculate the total calories for your meal.</p>

    <p><strong>Optional steps:</strong></p>

    <h3>1. Edit your Account </h3>
    <p>Click on the "Edit profile" button and follow the instructions.</p>

    <h3>2. Add Current Weight</h3>
    <p>Click "Add Current Weight" button to log your current weight every day. Enter your weight in kilograms and click "Submit."</p>

    <h3>3. Add Activity</h3>
    <p>To add an activity, click on the "Add Activity" button. Enter the duration and activity type to calculate the burned calories. </p>

    <h3>4. Daily Statistics</h3>
    <p> On the "Daily Statistics" page you can view your calorie goal, weight, consumed calories and burned calories for the past 30 days.</p>

    <h3>5. Activities </h3>
    <p> On the "Activities" page you can view duration, activity type and burned calories about your activities for the past 30 days.</p>

    <h2>Troubleshooting</h2>
    <p>If you have any questions or run into problems, reach out to us at 0859521682. You can also email us at support@colorie-counter.com.</p>
</div>

<footer>
    <p>&copy; 2025 Calorie Counter. All rights reserved.</p>
</footer>
</body>
</html>