<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css"  href="/css/not-found.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<header>
    <h1>Page Not Found</h1>
</header>
<div class="main-content">
    <p class="not-found-message">404 - Page Not Found</p>
    <a th:href="@{/home}" class="back-to-home-button">Back to Home</a>
    <span class="alert-warning">The page you requested could not be found.</span>
</div>
<footer>
    <p>&copy; 2025 Calorie Counter. All rights reserved.</p>
</footer>
</body>
</html>
